@font-face {
  font-family: 'moon-light';
  src: url(../fonts/moon_light-webfont.woff2) format("woff2"), url(../fonts/moon_light-webfont.woff) format("woff"); }
@font-face {
  font-family: 'moon-bold';
  src: url(../fonts/moon_bold-webfont.woff2) format("woff2"), url(../fonts/moon_bold-webfont.woff) format("woff"); }
@font-face {
  font-family: 'hero-light';
  src: url(../fonts/hero_light-webfont.woff2) format("woff2"), url(../fonts/hero_light-webfont.woff) format("woff"); }
.listImage {
  width: 100%; }

#location {
  display: none; }

#aboutImage {
  display: none; }

textarea {
  border-style: solid;
  border-width: 2px;
  border-radius: 20px;
  border-color: #50d1ef;
  width: 90%;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: "hero-light";
  padding-left: 20px;
  height: 35px; }

#message {
  border-style: solid;
  border-width: 2px;
  border-radius: 20px;
  border-color: #50d1ef;
  width: 90%;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: "hero-light";
  padding-left: 20px;
  height: 35px; }

@keyframes moveUp {
  from {
    margin-top: 5%; }
  to {
    margin-top: 0%; } }
@keyframes menuFade {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes fadeOut {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }
@keyframes greenToPurple {
  0% {
    color: #4df490; }
  100% {
    color: #8d4ef2; } }
@keyframes purpleToRed {
  0% {
    color: #8d4ef2; }
  100% {
    color: #ef5050; } }
@keyframes redToBlue {
  0% {
    color: #ef5050; }
  100% {
    color: #50d1ef; } }
@keyframes blueToRed {
  0% {
    color: #50d1ef; }
  100% {
    color: #ef5050; } }
@keyframes redToPurple {
  0% {
    color: #ef5050; }
  100% {
    color: #8d4ef2; } }
@keyframes purpleToGreen {
  0% {
    color: #8d4ef2; }
  100% {
    color: #4df490; } }
@keyframes greenToRed {
  0% {
    color: #4df490; }
  100% {
    color: #ef5050; } }
@keyframes greenToBlue {
  0% {
    color: #4df490; }
  100% {
    color: #50d1ef; } }
@keyframes purpleToBlue {
  0% {
    color: #8d4ef2; }
  100% {
    color: #50d1ef; } }
@keyframes redToGreen {
  0% {
    color: #ef5050; }
  100% {
    color: #4df490; } }
@keyframes blueToPurple {
  0% {
    color: #50d1ef; }
  100% {
    color: #8d4ef2; } }
@keyframes blueToGreen {
  0% {
    color: #50d1ef; }
  100% {
    color: #4df490; } }
.sectionOut {
  animation-name: fadeOut;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out; }

.sectionIn {
  animation-name: menuFade, moveUp;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out; }

.aboutToWork {
  animation-name: greenToPurple;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out; }

.aboutToSkills {
  animation-name: greenToRed;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out; }

.aboutToContact {
  animation-name: greenToBlue;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out; }

.workToSkills {
  animation-name: purpleToRed;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out; }

.workToContact {
  animation-name: purpleToBlue;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out; }

.workToAbout {
  animation-name: purpleToGreen;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out; }

.skillsToContact {
  animation-name: redToBlue;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out; }

.skillsToWork {
  animation-name: redToPurple;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out; }

.skillsToAbout {
  animation-name: redToGreen;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out; }

.contactToSkills {
  animation-name: blueToRed;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out; }

.contactToWork {
  animation-name: blueToPurple;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out; }

.contactToAbout {
  animation-name: blueToGreen;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out; }

.fadeout {
  animation-name: fadeOut;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out; }

::-webkit-scrollbar {
  display: none; }

body {
  background: url(../img/paper.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: auto 0; }

header {
  top: 0;
  position: fixed;
  width: 100%;
  z-index: 3; }

#oList {
  color: white;
  font-family: "moon-light"; }

#oList:before {
  color: white;
  font-family: "moon-light"; }

#lightboxContainer {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(141, 78, 242, 0.7);
  z-index: 5; }

#lightbox {
  border-radius: 25px;
  width: 80%;
  height: 80%;
  margin-left: 10%;
  margin-top: 10%;
  background-color: #8d4ef2;
  overflow: scroll; }
  #lightbox #lightboxClose {
    width: 8%;
    float: right;
    margin-right: 4%;
    margin-top: 2%; }
  #lightbox #lightboxClose:hover {
    cursor: pointer; }
  #lightbox #lightboxImage {
    width: 95%;
    margin-left: 2.5%;
    margin-top: 4%;
    border-radius: 25px;
    box-shadow: 0px 5px 30px #3a3a3a; }
  #lightbox h2 {
    font-family: "moon-light";
    color: white;
    font-size: 0.9em;
    margin-top: 4%;
    text-align: center; }
  #lightbox p {
    width: 75%;
    margin-left: 12.5%;
    font-size: 0.9em;
    color: white;
    font-family: "hero-light"; }
  #lightbox a {
    text-decoration: none;
    text-align: center;
    font-family: "moon-light";
    color: white;
    margin-left: 20%; }

.linkFade {
  animation-name: menuFade;
  animation-duration: 2s;
  animation-fill-mode: forwards; }

.hide {
  display: none; }

.siteSection {
  width: 100%;
  height: 100vh; }

#scrollbuffer {
  width: 100%;
  height: 1000000000px; }

#logo {
  width: 19%;
  margin-top: 3%;
  float: left;
  margin-left: 2%;
  position: fixed;
  z-index: 4; }

#logo2 {
  width: 19%;
  margin-top: 3%;
  float: left;
  margin-left: 2%;
  position: fixed;
  z-index: 3; }

#logo3 {
  width: 19%;
  margin-top: 3%;
  float: left;
  margin-left: 2%;
  position: fixed;
  z-index: 2; }

#logo4 {
  width: 19%;
  margin-top: 3%;
  float: left;
  margin-left: 2%;
  position: fixed;
  z-index: 1; }

#opener {
  width: 15%;
  margin-top: 6%;
  margin-left: 83%;
  position: fixed;
  z-index: 4; }

#opener2 {
  width: 15%;
  margin-top: 6%;
  margin-left: 83%;
  position: fixed;
  z-index: 3; }

#opener3 {
  width: 15%;
  margin-top: 6%;
  margin-left: 83%;
  position: fixed;
  z-index: 2; }

#opener4 {
  width: 15%;
  margin-top: 6%;
  margin-left: 83%;
  position: fixed;
  z-index: 1; }

#closer {
  width: 11%;
  margin-top: -40px;
  margin-right: 4%;
  float: right; }

#mainNav {
  opacity: 1;
  height: 100%;
  width: 0%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background: rgba(77, 244, 144, 0.7);
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.3s;
  transition-timing-function: ease-in-out; }
  #mainNav ul {
    list-style: none;
    text-align: center;
    margin-left: -25px;
    margin-top: 40px; }
    #mainNav ul li {
      font-family: "moon-bold";
      margin-top: 40px;
      margin-bottom: 40px; }
      #mainNav ul li .link {
        text-decoration: none;
        color: white;
        font-size: 3.3em;
        opacity: 0; }
      #mainNav ul li .link:hover {
        border-bottom: solid;
        border-color: #4df490;
        cursor: pointer; }

#about {
  position: fixed; }
  #about h2 {
    color: #4df490;
    text-align: center;
    font-size: 9em;
    font-family: "moon-bold";
    margin-top: 80px; }
  #about p {
    width: 80%;
    margin-left: 12%;
    color: #4df490;
    font-family: "hero-light";
    font-size: 1.5em;
    margin-top: -110px;
    line-height: 32px; }

#work {
  position: fixed;
  display: none;
  opacity: 0; }

#skills {
  position: fixed;
  display: none;
  opacity: 0; }

#tophand {
  width: 12%;
  margin-left: 44%; }

#workbackground {
  width: 80%;
  position: absolute;
  margin-left: -48%;
  z-index: -1;
  margin-top: 19.25%; }

#workitem {
  width: 60%;
  height: 160px;
  border-radius: 25px;
  margin-left: 18%;
  margin-top: 40px;
  background: url(../img/somethingwentwrong.png);
  background-size: contain;
  background-repeat: no-repeat; }
  #workitem h2 {
    color: #8d4ef2;
    text-align: center;
    padding-top: 40px;
    font-size: 2em;
    font-family: "moon-bold";
    opacity: 0;
    transition: .5s;
    transition-timing-function: ease-in-out;
    text-shadow: 8px 8px 16px #000000; }

#workitem:hover {
  cursor: pointer; }
  #workitem:hover h2 {
    opacity: 1; }

#right {
  width: 30%;
  margin-left: 34%;
  padding-top: 14%; }

#left {
  width: 30%;
  padding-left: 40%;
  margin-top: -10px; }

#right:hover {
  cursor: pointer; }

#left:hover {
  cursor: pointer; }

#theGhost {
  display: none; }

#arm1 {
  width: 50%;
  margin-left: -15%;
  margin-top: 150px;
  float: left; }

#arm2 {
  width: 50%;
  margin-left: 68%;
  margin-top: 60px; }

#arm3 {
  display: none; }

.skillbox {
  background-color: #ef5050;
  width: 60%;
  border-radius: 20px; }

#technical {
  height: 160px;
  margin-left: 35%;
  margin-top: 100px;
  padding-left: 0%; }
  #technical h3 {
    font-family: "moon-light";
    width: 80%;
    margin-left: 10%;
    padding-top: 10px;
    padding-bottom: 3px;
    border-bottom: solid;
    border-color: white;
    color: white;
    text-align: center; }

#tList {
  width: 100%;
  height: 70%;
  margin-top: -2%;
  list-style-type: none;
  margin-left: -10%;
  overflow: scroll; }

.skillsList {
  height: 40px;
  width: 20%;
  margin-left: 4%;
  margin-top: 5%;
  margin-bottom: 5%;
  margin-right: 4%;
  float: left; }

#otherskills {
  height: 160px;
  margin-top: -140px;
  margin-left: 30px; }
  #otherskills h3 {
    font-family: "moon-light";
    width: 80%;
    margin-left: 10%;
    padding-top: 10px;
    padding-bottom: 3px;
    border-bottom: solid;
    border-color: white;
    color: white;
    text-align: center; }

#goodguy {
  display: none; }

#contact {
  position: fixed;
  display: none;
  opacity: 0; }
  #contact h2 {
    font-family: "moon-bold";
    text-align: center;
    color: #50d1ef;
    font-size: 2em;
    margin-top: 90px; }
  #contact p {
    font-family: "hero-light";
    color: #50d1ef;
    width: 80%;
    margin-left: 10%;
    font-size: 0.8em;
    margin-top: -30px;
    line-height: 20px; }

form {
  font-family: "moon-bold";
  color: #50d1ef;
  font-size: 0.8em;
  margin-left: 20px; }

input {
  border-style: solid;
  border-radius: 20px;
  border-color: #50d1ef;
  height: 35px;
  width: 90%;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: "hero-light";
  padding-left: 20px; }

#submit {
  width: 30%;
  margin-left: 30%;
  margin-top: 10px;
  padding-left: 8px;
  font-size: 1em; }

#submit:hover {
  cursor: pointer; }

@media only screen and (min-width: 600px) {
  #oList {
    font-size: 2.3em; }

  #lightbox {
    border-radius: 25px;
    width: 80%;
    height: 80%;
    margin-left: 10%;
    margin-top: 10%;
    background-color: #8d4ef2; }
    #lightbox #lightboxClose {
      width: 8%;
      float: right;
      margin-right: 4%;
      margin-top: 2%; }
    #lightbox #lightboxClose:hover {
      cursor: pointer; }
    #lightbox #lightboxImage {
      width: 95%;
      margin-left: 2.5%;
      margin-top: 4%;
      border-radius: 25px; }
    #lightbox h2 {
      font-family: "moon-light";
      color: white;
      font-size: 2.5em;
      margin-top: 6%;
      margin-bottom: 4%;
      text-align: center; }
    #lightbox p {
      width: 75%;
      margin-left: 12.5%;
      color: white;
      font-family: "hero-light";
      font-size: 1.5em; }
    #lightbox a {
      font-size: 1.3em;
      margin-left: 25%; }

  .skillsList {
    height: 60px; }

  #about h2 {
    font-size: 15em;
    margin-top: 30%; }
  #about p {
    font-size: 1.8em;
    margin-top: -200px;
    line-height: 40px; }

  #workitem {
    height: 300px;
    margin-top: 60px;
    background-size: contain;
    background-repeat: no-repeat; }
    #workitem h2 {
      padding-top: 60px;
      font-size: 3em; }

  #right {
    width: 30%;
    margin-left: 29%; }

  #left {
    width: 30%; }

  #arm1 {
    width: 50%;
    margin-left: -90px;
    margin-top: 180px;
    float: left; }

  #arm2 {
    width: 50%;
    margin-left: 390px;
    margin-top: 60px; }

  #arm3 {
    width: 30%;
    margin-left: -30px;
    margin-top: 20px;
    display: block; }

  .skillbox {
    background-color: #ef5050;
    width: 60%;
    border-radius: 20px; }

  #technical {
    height: 300px;
    margin-left: 35%;
    margin-top: 130px; }

  #tList {
    width: 80%;
    height: 80%;
    margin-left: 5%;
    margin-top: -2%;
    overflow: scroll; }

  #otherskills {
    height: 300px;
    margin-top: -200px;
    margin-left: 30px; }
    #otherskills h3 {
      font-family: "moon-light";
      width: 80%;
      margin-left: 10%;
      padding-top: 10px;
      padding-bottom: 3px;
      border-bottom: solid;
      border-color: white;
      color: white;
      text-align: center; }

  #goodguy {
    display: block;
    height: 50px;
    margin-top: -80px;
    margin-left: 27%;
    color: white;
    width: 70%;
    font-family: "moon-bold";
    text-align: center;
    font-size: 1.5em;
    padding-top: 20px; }

  #contact h2 {
    font-size: 4.5em;
    margin-top: 160px; }
  #contact p {
    font-family: "hero-light";
    color: #50d1ef;
    width: 80%;
    margin-left: 10%;
    margin-top: -30px;
    line-height: 30px;
    font-size: 1.5em; }

  form {
    font-family: "moon-bold";
    color: #50d1ef;
    font-size: 2em;
    margin-left: 20px; }

  input {
    border-style: solid;
    border-width: 3px;
    border-radius: 20px;
    border-color: #50d1ef;
    height: 40px;
    width: 90%;
    margin-top: 15px;
    margin-bottom: 15px;
    font-family: "hero-light";
    padding-left: 20px; }

  #submit {
    width: 30%;
    margin-left: 30%;
    margin-top: 10px;
    padding-left: 8px;
    font-size: 1em; }

  #message {
    height: 180px;
    border-style: solid;
    border-width: 2px;
    border-radius: 20px;
    border-color: #50d1ef;
    width: 70%;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: "hero-light";
    padding-left: 20px; } }
@media only screen and (min-width: 768px) {
  .skillsList {
    height: 80px; }

  #logo {
    width: 15%;
    margin-top: 3%;
    float: left;
    margin-left: 2%; }

  #logo2 {
    width: 15%;
    margin-top: 3%;
    float: left;
    margin-left: 2%; }

  #logo3 {
    width: 15%;
    margin-top: 3%;
    float: left;
    margin-left: 2%; }

  #logo4 {
    width: 15%;
    margin-top: 3%;
    float: left;
    margin-left: 2%; }

  #opener {
    width: 10%;
    margin-top: 6%;
    margin-left: 88%;
    position: fixed;
    z-index: 4; }

  #opener2 {
    width: 10%;
    margin-top: 6%;
    margin-left: 88%;
    position: fixed;
    z-index: 3; }

  #opener3 {
    width: 10%;
    margin-top: 6%;
    margin-left: 88%;
    position: fixed;
    z-index: 2; }

  #opener4 {
    width: 10%;
    margin-top: 6%;
    margin-left: 88%;
    position: fixed;
    z-index: 1; }

  #closer {
    width: 8%;
    margin-top: -40px;
    margin-right: 4%;
    float: right; }

  #mainNav {
    opacity: 1;
    height: 100%;
    width: 0%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background: rgba(77, 244, 144, 0.7);
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.3s;
    transition-timing-function: ease-in-out; }
    #mainNav ul {
      list-style: none;
      text-align: center;
      margin-left: -25px;
      margin-top: 40px; }
      #mainNav ul li {
        font-family: "moon-bold";
        margin-top: 40px;
        margin-bottom: 40px; }
        #mainNav ul li .link {
          text-decoration: none;
          color: white;
          font-size: 5em;
          opacity: 0; }

  #about h2 {
    font-size: 16em;
    margin-top: 120px; }
  #about p {
    width: 80%;
    margin-left: 12%;
    color: #4df490;
    font-family: "hero-light";
    font-size: 1.7em;
    margin-top: -210px;
    line-height: 38px; }

  #aboutImage {
    display: block;
    width: 50%;
    height: 320px;
    background-color: black;
    margin-left: 25%;
    margin-top: 35px; }

  #tophand {
    width: 12%;
    margin-left: 340px; }

  #workbackground {
    width: 80%;
    position: absolute;
    margin-left: -47%;
    z-index: -1;
    margin-top: 20%; }

  #workitem {
    width: 60%;
    height: 400px;
    margin-left: 20%;
    margin-top: 80px;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: black; }
    #workitem h2 {
      text-align: center;
      padding-top: 100px;
      font-size: 4em;
      font-family: "moon-bold";
      opacity: 0;
      transition: .5s;
      transition-timing-function: ease-in-out; }

  #right {
    width: 20%;
    margin-left: 36%;
    margin-top: -4%; }

  #left {
    width: 20%;
    margin-left: 5%;
    margin-top: -1%; }

  #arm1 {
    width: 40%;
    margin-left: -90px;
    margin-top: 180px;
    float: left; }

  #arm2 {
    width: 40%;
    margin-left: 550px;
    margin-top: 60px; }

  #arm3 {
    width: 30%;
    margin-left: -30px;
    margin-top: 20px;
    display: block; }

  .skillbox {
    background-color: #ef5050;
    width: 60%;
    border-radius: 20px; }

  #technical {
    height: 300px;
    margin-left: 28%;
    margin-top: 130px; }

  #otherskills {
    height: 300px;
    margin-top: -200px;
    margin-left: 90px; }
    #otherskills h3 {
      font-family: "moon-light";
      width: 80%;
      margin-left: 10%;
      padding-top: 10px;
      padding-bottom: 3px;
      border-bottom: solid;
      border-color: white;
      color: white;
      text-align: center; }

  #goodguy {
    display: block;
    height: 50px;
    margin-top: -80px;
    margin-left: 27%;
    color: white;
    width: 70%;
    font-family: "moon-bold";
    text-align: center;
    font-size: 1.5em;
    padding-top: 20px; } }
@media only screen and (min-width: 1280px) {
  .skillsList {
    width: 25%; }

  #logo {
    width: 10%;
    margin-left: 2%;
    margin-top: 1%;
    float: left; }

  #logo2 {
    width: 10%;
    margin-left: 2%;
    margin-top: 1%;
    float: left; }

  #logo3 {
    width: 10%;
    margin-left: 2%;
    margin-top: 1%;
    float: left; }

  #logo4 {
    width: 10%;
    margin-left: 2%;
    margin-top: 1%;
    float: left; }

  #opener {
    display: none; }

  #opener2 {
    display: none; }

  #opener3 {
    display: none; }

  #opener4 {
    display: none; }

  #closer {
    display: none; }

  #mainNav {
    opacity: 1;
    float: right;
    height: auto;
    width: 100%;
    position: static;
    background: rgba(77, 244, 144, 0);
    padding-top: 0px;
    margin-top: 5%; }
    #mainNav ul {
      margin-left: 0px;
      margin-top: 0%;
      margin-left: 0%;
      padding-left: 52%; }
      #mainNav ul li {
        font-family: "moon-bold";
        margin-top: 0px;
        margin-bottom: 0px;
        display: inline;
        margin-left: 2%;
        margin-right: 2%; }
        #mainNav ul li .link {
          text-decoration: none;
          color: #4df490;
          font-size: 2em;
          display: inline;
          opacity: 1; }

  #about h2 {
    font-size: 14em;
    float: left;
    margin-top: 20%;
    margin-left: 19%; }
  #about p {
    width: 38%;
    margin-left: -24.5%;
    font-size: 1.7em;
    margin-top: 36%;
    line-height: 38px;
    float: left; }

  #aboutImage {
    width: 30%;
    height: 450px;
    background-color: black;
    margin-top: -32%;
    margin-right: 10%;
    float: right; }

  #tophand {
    width: 6%;
    margin-left: 48%; }

  #workbackground {
    width: 53%;
    position: absolute;
    margin-left: -30.5%;
    z-index: -1;
    margin-top: 9.25%; }

  #workitem {
    width: 43%;
    height: 400px;
    margin-left: 28.5%;
    margin-top: 110px;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: black; }
    #workitem h2 {
      text-align: center;
      padding-top: 100px;
      font-size: 4em;
      font-family: "moon-bold";
      opacity: 0;
      transition: .5s;
      transition-timing-function: ease-in-out; }

  #right {
    width: 18%;
    margin-left: 0%;
    margin-bottom: 0px;
    float: right;
    margin-top: -37%;
    margin-right: 2%; }

  #left {
    width: 18%;
    margin-left: -35%;
    margin-top: -26%;
    float: left; }

  #theGhost {
    display: block;
    position: absolute;
    z-index: -1;
    width: 50%;
    margin-left: 24%;
    margin-top: 19%; }

  #arm1 {
    display: none; }

  #arm2 {
    display: none; }

  #arm3 {
    display: none; }

  .skillbox {
    background-color: #ef5050;
    width: 23%;
    border-radius: 20px; }

  #technical {
    height: 450px;
    margin-left: 1.2%;
    margin-top: 250px; }
    #technical h3 {
      font-size: 1.8em;
      padding-top: 15px; }

  #tList {
    width: 80%;
    height: 70%;
    margin-left: 3%;
    margin-top: -2%;
    overflow: scroll; }

  #otherskills {
    height: 360px;
    margin-top: -450px;
    margin-left: 0px;
    float: right;
    margin-right: 6%; }
    #otherskills h3 {
      font-family: "moon-light";
      width: 80%;
      margin-left: 10%;
      padding-top: 0px;
      font-size: 1.8em;
      padding-bottom: 3px;
      border-bottom: solid;
      border-color: white;
      color: white;
      text-align: center; }

  #goodguy {
    display: block;
    height: 100px;
    margin-top: -70px;
    margin-left: 0%;
    color: white;
    width: 20%;
    font-size: 2.2em;
    padding-top: 30px;
    float: right;
    margin-right: 6%; }

  #contact h2 {
    font-size: 2.9em;
    margin-top: 120px; }
  #contact p {
    font-family: "hero-light";
    color: #50d1ef;
    width: 60%;
    margin-left: 20%;
    margin-top: -30px;
    line-height: 30px; }

  form {
    font-size: 1.8em;
    margin-left: 18%; }

  input {
    border-style: solid;
    border-radius: 20px;
    border-color: #50d1ef;
    height: 50px;
    width: 70%;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: "hero-light";
    padding-left: 20px; }

  #submit {
    width: 20%;
    margin-left: 30%;
    margin-top: 10px;
    padding-left: 8px;
    font-size: 1em; }

  #lightbox {
    border-radius: 25px;
    width: 80%;
    height: 80%;
    margin-left: 10%;
    margin-top: 10%;
    background-color: #8d4ef2; }
    #lightbox #lightboxClose {
      width: 4%;
      float: right;
      margin-right: 2%;
      margin-top: 2%; }
    #lightbox #lightboxClose:hover {
      cursor: pointer; }
    #lightbox #lightboxImage {
      width: 70%;
      margin-left: 15%;
      margin-top: 2%; }
    #lightbox h2 {
      font-family: "moon-light";
      color: white;
      text-align: center;
      margin-top: 2%;
      margin-bottom: 1%; }
    #lightbox p {
      width: 65%;
      margin-left: 17.5%;
      color: white;
      font-family: "hero-light"; }
    #lightbox a {
      font-size: 1.6em;
      margin-left: 35%; } }
@media only screen and (min-width: 1600px) {
  #logo {
    width: 10%;
    margin-left: 2%;
    margin-top: 1%;
    float: left; }

  #logo2 {
    width: 10%;
    margin-left: 2%;
    margin-top: 1%;
    float: left; }

  #logo3 {
    width: 10%;
    margin-left: 2%;
    margin-top: 1%;
    float: left; }

  #logo4 {
    width: 10%;
    margin-left: 2%;
    margin-top: 1%;
    float: left; }

  #mainNav {
    opacity: 1;
    float: right;
    height: auto;
    width: 100%;
    position: static;
    background: rgba(77, 244, 144, 0);
    padding-top: 0px;
    margin-right: -2%; }
    #mainNav ul {
      margin-left: 0px;
      margin-top: 0%;
      margin-left: 0%;
      padding-left: 55%; }
      #mainNav ul li {
        font-family: "moon-bold";
        margin-top: 0px;
        margin-bottom: 0px;
        display: inline;
        margin-left: 1.5%;
        margin-right: 1.5%; }
        #mainNav ul li a {
          text-decoration: none;
          color: #4df490;
          font-size: 2.4em;
          opacity: 1; }

  #aboutImage {
    width: 30%;
    height: 450px;
    background-color: black;
    margin-top: -27%;
    margin-right: 10%;
    float: right;
    clear: left; }

  #tophand {
    width: 6%;
    margin-left: 44%; }

  #workbackground {
    width: 46%;
    position: absolute;
    margin-left: -26.5%;
    z-index: -1;
    margin-top: 10%; }

  #workitem {
    width: 36%;
    height: 480px;
    margin-left: 29%;
    margin-top: 110px;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: black; }
    #workitem h2 {
      text-align: center;
      padding-top: 100px;
      font-size: 4em;
      font-family: "moon-bold";
      opacity: 0;
      transition: .5s;
      transition-timing-function: ease-in-out; }

  #right {
    width: 14%;
    margin-left: 0%;
    margin-bottom: 0px;
    float: right;
    margin-top: -32%;
    margin-right: 15%; }

  #left {
    width: 14%;
    margin-left: -30%;
    margin-top: -22%;
    float: left; }

  #technical {
    height: 500px;
    margin-left: 1.2%;
    margin-top: 290px; }
    #technical h3 {
      font-size: 1.8em;
      padding-top: 15px; }

  #tList {
    width: 80%;
    height: 80%;
    margin-left: 5%;
    margin-top: -2%;
    overflow: scroll; }

  #otherskills {
    height: 360px;
    margin-top: -450px;
    margin-left: 0px;
    float: right;
    margin-right: 6%; }
    #otherskills h3 {
      font-family: "moon-light";
      width: 80%;
      margin-left: 10%;
      padding-top: 0px;
      font-size: 1.8em;
      padding-bottom: 3px;
      border-bottom: solid;
      border-color: white;
      color: white;
      text-align: center; }

  #goodguy {
    display: block;
    height: 140px;
    margin-top: -70px;
    margin-left: 0%;
    color: white;
    width: 20%;
    font-size: 2.2em;
    padding-top: 60px;
    float: right;
    margin-right: 6%; }

  #lightbox {
    border-radius: 25px;
    width: 65%;
    height: 80%;
    margin-left: 17.5%;
    margin-top: 5%;
    background-color: #8d4ef2; }
    #lightbox #lightboxClose {
      width: 4%;
      float: right;
      margin-right: 2%;
      margin-top: 2%; }
    #lightbox #lightboxClose:hover {
      cursor: pointer; }
    #lightbox #lightboxImage {
      width: 70%;
      margin-left: 15%;
      margin-top: 2%; }
    #lightbox h2 {
      font-family: "moon-light";
      color: white;
      text-align: center; }
    #lightbox p {
      width: 65%;
      margin-left: 17.5%;
      color: white;
      font-family: "hero-light"; }

  #contact h2 {
    font-size: 3em;
    margin-top: 180px; }
  #contact p {
    font-family: "hero-light";
    color: #50d1ef;
    width: 60%;
    margin-left: 20%;
    margin-top: -30px;
    line-height: 30px; } }

/*# sourceMappingURL=main.css.map */
