@font-face {
  font-family: 'moon-bold';
  src: url(../fonts/moon_bold-webfont.woff2) format("woff2"), url(../fonts/moon_bold-webfont.woff) format("woff"); }

@keyframes fadein{
  from {opacity: 0;}
  to {opacity: 1;}
}


body{
  font-family: moon-bold;
  background: url(../img/paper.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: auto 0;
}
#mobileLogo{
  width:60%;
  margin-left:22%;
  margin-top:10%;
  margin-bottom:4%;
}

#ghostgif{
  display:none;
}

.link{
  text-align: center;
  font-size:2em;
  margin-top:8%;
  margin-bottom:8%;
  display:block;
  text-decoration: none;
  color:#4df490;
}

#regularLogo{
  display:none;
}

#regularTitles{
  display:none;
}

@media only screen and (min-width: 1280px) {
  body{
    background: none;
  }
  #mobileLogo{
    display:none;
  }
  #regularLogo{
    float:left;
    width:15%;
    margin-left:2%;
    margin-top:2%;
    display:block;
  }

  #regularTitles{
    float:left;
    color:#4df490;
    font-size:2em;
    margin-top:6%;
    margin-left:1%;
    display:block;
    opacity:0;
    animation-name: fadein;
    animation-duration: 3s;
    animation-fill-mode: forwards;
  }

  #ghostgif{
    width:67%;
    margin-left:17%;
    display:block;
  }

  .link{
    margin-top:0%;
    margin-bottom:0%;
    font-size:2.2em;
  }

  #enter{
    float:left;
    margin-top:-33.5%;
    margin-left:1.25%;
    opacity:0;
    animation-name: fadein;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-delay: 2.5s;
  }

  #enter:hover{
    border-bottom: solid;
    border-color: #4df490;
  }

  #resume{
    float:right;
    margin-top:-36.5%;
    margin-right: 5%;
    opacity:0;
    animation-name: fadein;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-delay: 3.6s;
  }

  #resume:hover{
    border-bottom: solid;
    border-color: #4df490;
  }

  #contact{
    float:right;
    margin-right:2%;
    margin-top:-7%;
    opacity:0;
    animation-name: fadein;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-delay: 2s;
  }

  #contact:hover{
    border-bottom: solid;
    border-color: #4df490;
  }
}

@media only screen and (min-width: 1680px) {

  .link{
    font-size:2.6em;
  }

  #regularLogo{
    float:left;
    width:12%;
    margin-left:1%;
    margin-top:1%;
  }

  #regularTitles{
    float:left;
    color:#4df490;
    font-size:2em;
    margin-top:4%;
    margin-left:1%;
  }

  #ghostgif{
    width:60%;
    margin-left: -10%;
    float:left;
    display:block;
    margin-top:12%;
  }


  #enter{
    float:left;
    margin-top:-30%;
    margin-left:4%;
    clear:left;
  }

  #resume{
    float:right;
    margin-top:-33%;
    margin-right: 14%;
    clear:left;
  }

  #contact{
    float:right;
    margin-right:9%;
    margin-top:-6.25%;
    clear:left;
  }

}
