@font-face {
  font-family: 'moon-bold';
  src: url(../fonts/moon_bold-webfont.woff2) format("woff2"), url(../fonts/moon_bold-webfont.woff) format("woff"); }

@font-face {
  font-family: 'hero-light';
  src: url(../fonts/hero_light-webfont.woff2) format("woff2"), url(../fonts/hero_light-webfont.woff) format("woff"); }


body{
  background: url(../img/paper.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin:auto 0;
}

h2{
  color: #50d1ef;
  font-family: moon-bold;
  text-align: center;
  font-size:2em;
}

h3{
  text-align: center;
  color: #50d1ef;
  font-family: hero-light;
  font-size:1em;
}

a{
  text-decoration: none;
  font-family: hero-light;
  font-size: 2em;
  text-align: center;
  margin-left: 25%;
}
@media only screen and (min-width: 600px) {
  h2{
    font-size: 4em;
  }

  h3{
    font-size: 3em;
  }
}
